@media (max-width: 800px) {
    img {
        width: 150px;
    }

    .info {
        display: block;
        padding-bottom: 5px;
    }

    .logo {
        padding-top: 5px;
    }

    body {
        text-align: center;
    }

    .container {
        font-size: 14px;
    }

    .hobby {
        text-align: left
    }

    .form-row {
        display: block;
    }

    .form-row .form-group {
        width: 100%;
    }
}